<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-A1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,26},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-A2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,66},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-B1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,106},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-B2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,146},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-Bounce1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,19}</string>
                <key>spriteSourceSize</key>
                <string>{114,19}</string>
                <key>textureRect</key>
                <string>{{0,186},{114,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-C1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,207},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,247},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-D1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,287},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,327},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-E1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,367},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,16}</string>
                <key>spriteSourceSize</key>
                <string>{114,16}</string>
                <key>textureRect</key>
                <string>{{0,407},{114,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerupFireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{0,425},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerupLargerPaddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{59,425},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerupMultiBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{0,484},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScoreUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{59,484},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-A1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{0,543},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-A2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{59,543},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-B1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{0,564},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-B2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{59,564},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-Bounce1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,10}</string>
                <key>spriteSourceSize</key>
                <string>{57,10}</string>
                <key>textureRect</key>
                <string>{{0,585},{57,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-C1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{59,585},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{0,606},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-D1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{59,606},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{0,627},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-E1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{59,627},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WormholeIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{0,648},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WormholeOut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{59,648},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameEntities.png</string>
            <key>size</key>
            <string>{116,705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dbb7ee9326dd4a1cd802aa3bcb0dcb0:1b2cb971a0cc70a1cfffbb75d6d6c76b:c5062289da88322ceab2ce24abe6c6fe$</string>
            <key>textureFileName</key>
            <string>GameEntities.png</string>
        </dict>
    </dict>
</plist>
