<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{0,21},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-A1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,391},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-A2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,431},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-B1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,471},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-B2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,311},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-Bounce1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,19}</string>
                <key>spriteSourceSize</key>
                <string>{114,19}</string>
                <key>textureRect</key>
                <string>{{0,189},{114,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-C1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,591},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,631},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-D1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,551},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,351},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-E1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,511},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LevelSelectMenuButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{0,671},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,16}</string>
                <key>spriteSourceSize</key>
                <string>{114,16}</string>
                <key>textureRect</key>
                <string>{{0,131},{114,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerupFireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,40}</string>
                <key>spriteSourceSize</key>
                <string>{57,40}</string>
                <key>textureRect</key>
                <string>{{59,210},{57,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerupLargerPaddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,38}</string>
                <key>spriteSourceSize</key>
                <string>{57,38}</string>
                <key>textureRect</key>
                <string>{{0,210},{57,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerupMultiBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,38}</string>
                <key>spriteSourceSize</key>
                <string>{57,38}</string>
                <key>textureRect</key>
                <string>{{0,149},{57,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-A1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{59,110},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-A2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{57,21},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-B1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{59,47},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-B2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{0,47},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-Bounce1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,10}</string>
                <key>spriteSourceSize</key>
                <string>{57,10}</string>
                <key>textureRect</key>
                <string>{{62,0},{57,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-C1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{59,89},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{0,68},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-D1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{0,110},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{0,89},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-E1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{59,68},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallPowerupFireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,20}</string>
                <key>spriteSourceSize</key>
                <string>{29,20}</string>
                <key>textureRect</key>
                <string>{{26,21},{29,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallPowerupLargerPaddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,19}</string>
                <key>spriteSourceSize</key>
                <string>{29,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallPowerupMultiBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,19}</string>
                <key>spriteSourceSize</key>
                <string>{29,19}</string>
                <key>textureRect</key>
                <string>{{31,0},{29,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WormholeIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{0,252},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WormholeOut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{59,252},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameEntities.png</string>
            <key>size</key>
            <string>{119,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:650ffabc204ef7dd71f94d1953da63ff:b6776f38dd8e02cf851627d7bdcf0b42:c5062289da88322ceab2ce24abe6c6fe$</string>
            <key>textureFileName</key>
            <string>GameEntities.png</string>
        </dict>
    </dict>
</plist>
