<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{822,0},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-A1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{736,40},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-A2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,80},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-B1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{852,40},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-B2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{580,40},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-Bounce1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,19}</string>
                <key>spriteSourceSize</key>
                <string>{114,19}</string>
                <key>textureRect</key>
                <string>{{706,0},{114,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-C1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{0,40},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{232,40},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-D1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{464,40},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{348,40},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brick-E1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{116,40},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{848,0},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameOverPopupBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{704,410}</string>
                <key>spriteSourceSize</key>
                <string>{704,410}</string>
                <key>textureRect</key>
                <string>{{0,331},{704,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameOverPopupPlayButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,94}</string>
                <key>spriteSourceSize</key>
                <string>{505,94}</string>
                <key>textureRect</key>
                <string>{{507,139},{505,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LifeUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{696,40},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewLevelPopupBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{704,543}</string>
                <key>spriteSourceSize</key>
                <string>{704,543}</string>
                <key>textureRect</key>
                <string>{{0,743},{704,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewLevelPopupMainMenuButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,94}</string>
                <key>spriteSourceSize</key>
                <string>{505,94}</string>
                <key>textureRect</key>
                <string>{{0,235},{505,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewLevelPopupPlayButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,94}</string>
                <key>spriteSourceSize</key>
                <string>{505,94}</string>
                <key>textureRect</key>
                <string>{{0,139},{505,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,16}</string>
                <key>spriteSourceSize</key>
                <string>{114,16}</string>
                <key>textureRect</key>
                <string>{{59,0},{114,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PaddleBullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,51}</string>
                <key>spriteSourceSize</key>
                <string>{114,51}</string>
                <key>textureRect</key>
                <string>{{116,80},{114,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PaddleRocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{858,0},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerupBullets.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{612,80},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerupFireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{494,80},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerupLargerPaddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{435,80},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerupMultiBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{553,80},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PowerupRockets.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{671,80},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,52}</string>
                <key>spriteSourceSize</key>
                <string>{24,52}</string>
                <key>textureRect</key>
                <string>{{232,80},{24,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ScoreUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{317,80},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-A1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{293,0},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-A2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{352,0},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-B1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{234,0},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-B2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{411,0},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-Bounce1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,10}</string>
                <key>spriteSourceSize</key>
                <string>{57,10}</string>
                <key>textureRect</key>
                <string>{{0,0},{57,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-C1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{647,0},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{529,0},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-D1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{588,0},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{470,0},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmallBrick-E1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{175,0},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WormholeIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{258,80},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WormholeOut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{376,80},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameEntities.png</string>
            <key>size</key>
            <string>{1012,1286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2422fd9563de0e5191464ee61c743f62:89a5b8d3bda80b51fa9afbcdf9e642f8:c5062289da88322ceab2ce24abe6c6fe$</string>
            <key>textureFileName</key>
            <string>GameEntities.png</string>
        </dict>
    </dict>
</plist>
