<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Impact-TitleScreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{833,1481}</string>
                <key>spriteSourceSize</key>
                <string>{833,1481}</string>
                <key>textureRect</key>
                <string>{{0,0},{833,1481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,130}</string>
                <key>spriteSourceSize</key>
                <string>{536,130}</string>
                <key>textureRect</key>
                <string>{{0,1481},{536,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SettingsButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,94}</string>
                <key>spriteSourceSize</key>
                <string>{536,94}</string>
                <key>textureRect</key>
                <string>{{0,1611},{536,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TitleScreenLevelSelectButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,94}</string>
                <key>spriteSourceSize</key>
                <string>{536,94}</string>
                <key>textureRect</key>
                <string>{{0,1705},{536,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TitleScreen.png</string>
            <key>size</key>
            <string>{833,1799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2d3a8bda8191877ac655f4d63d3f823:df3d23bb13c22dcf85d9a68eadf5df3d:ce1cf9e4b38a47c9cd3acd50187bf94d$</string>
            <key>textureFileName</key>
            <string>TitleScreen.png</string>
        </dict>
    </dict>
</plist>
